body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

circle {
  fill: none;
}

#container {
  width: 95%;
  display: block;
  margin: auto;
}

#tests {
  /* height: 900px; */
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*overflow-x: auto;*/
  white-space: nowrap;
}

.pack {
  display: inline;
  /* width: 360px; */
  align-items: flex-end;

}

svg {
  display: block;
  margin: auto;
}

div {
  /* border: 1px solid black; */
}

label {
  display: block;
  margin: auto;
  text-align: center;
}

.node {
  cursor: pointer;
  stroke-width: 1px;
}

.node:hover {
  stroke-width: 4px;
}

.node--leaf {
  fill: white;
}

h1 {
  font-size: 18px;
}

.label {
  margin-top: 15px;
  font-size: 13px;
  letter-spacing: 0.03em;
  text-anchor: middle;
  font-weight: bold;
  color: #fff;
  /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; */
}

#legend {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

#legend span {
  font-size: 13px;
  margin-top: 15px;
  display: inline-block;
  /* margin-left: 1px; */
  padding: 10px;
  border: 3px solid #fff;
  /* font-weight: bold; */
}

#legend span:hover {
  cursor: pointer;
  text-decoration: underline;
  border: 3px solid #aaa;
  /* font-weight: bold; */
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

#explanation {
  margin-top: 10px;
  font-size: 13px;
  max-width: 450px;
}
