
body{
  background-color: #222;
}

#header{
  margin-top: 40;
  margin-left: 40px;
  color: #b80000;
  font-size: 32px;
  font-family: Lato;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 40;
}
